p{
    text-align: center;
    color: black;
    font-size: 15px;
    font-family: Arial;
}
h1{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: Arial;
}
a{
    text-decoration: none;
}

body{
    background-image: url(/actividad/imagenes/FondoMain.png);
    background-repeat: repeat;
}
.titulos{
    margin-top: 50px;
    color: rgb(255, 243, 0 );
}
.imagen{
    width: 400px;
    
}
#tabla{
    position: relative;
    top: 400px; left: -40.5%; 
    background-color: rgba( 161, 153, 157, 0.7);
    border:2;
    
}

#botonmenu{
    background-color: rgb(255, 243, 0 );
}